@model List<Pizza>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Pizza> pizza = new List<Pizza>()
    {
        new Pizza("Margherita", "Pomodoro & Mozzarella Buona", "https://static.cookist.it/wp-content/uploads/sites/21/2018/04/pizza-margherita-fatta-in-casa.jpg", 4)
    };
}
<h1>Menu</h1>
<div class="text-center">

    @section SubTitle {
        <h1>Benvenuti nel Menù!</h1>
    }

    @if(Model.Count > 0)
    {
        <section class="container">
            <ul class="cards row-cols-1 row-cols-md-2 row-cols-lg-3 d-flex flex-wrap">
                @foreach(var y in Model)
                {
                    <li>
                        <div class="card shadow">
                            <div class="card_image"><img src="@y.Image" alt="mixed vegetable salad in a mason jar. "></div>
                            <div class="card_content">
                                <h2 class="card_title">@y.Nome &#x2022; $@y.Price</h2>
                                <div class="card_text">
                                    <p>@y.Descrizione</p>
                                </div>
                                <a class="btn btn-dark shadow rounded-pill" href="@Url.Action("Details", "Menu", new {id = y.Id})">Page</a>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </section>
    }
    else
    {
        <h1>Not Found 404</h1>
    }
</div>
