@model Pizza

<div class="card shadow">
    <div class="card_image"><img src="@Model.Image" alt="mixed vegetable salad in a mason jar. "></div>
    <div class="card_content">
        <h2 class="card_title">@Model.Nome &#x2022; $@Model.Price</h2>
        <div class="card_text">
            <p>@Model.Descrizione</p>
        </div>
    </div>
</div>